Ben Kahan  
DS210  
3 October 2022  
Homework 3  
Collaborators: None

# Question 1

In [16]:
import numpy as np
import pandas as pd

In [6]:
A = np.random.randint(20, size=100)
A

array([17,  6,  4, 11, 17, 15, 11, 19, 15,  4,  9,  4, 19, 17, 14,  3, 18,
        3,  2,  0, 13, 13,  4, 12,  2,  7,  4, 19, 18, 10,  4,  8, 13, 14,
       14, 10, 15,  4, 11, 11, 14, 16,  2, 18,  5, 18, 15,  2,  8, 13, 16,
       19,  2,  2, 12, 19, 12,  5,  8,  4,  0,  6,  2, 11, 13,  8,  5,  6,
       14, 16, 10, 16,  2,  0, 16, 19, 19, 16,  6, 17, 10, 19, 12,  3, 19,
       19, 12,  1,  5, 10,  5,  5,  0, 13, 10,  3,  2, 16, 17, 17])

In [11]:
sample_size_t = 10
B = np.random.choice(A, size=sample_size_t, replace=False)
B

array([ 4,  4, 10,  5,  4, 15, 12,  6,  4, 14])

In [15]:
cars = ["Tesla Model 3", "Toyota Prius", "Lucid Air", "Porsche 918", "Audi RS4", 
        "Honda Accord", "Madza 3", "Subaru WRX", "Mercedes S550", "Subaru BRZ", "Audi Q7", "Alfa Romeo Giulia", 
        "Mini Cooper", "Fiat 500", "Infiniti G35X", "Nissan 370Z", "BMW M3", "Cybertruck"]

In [85]:
selectedCars = np.random.choice(cars, size=sample_size_t, replace=False)
selectedCars

array(['Subaru WRX', 'Alfa Romeo Giulia', 'Audi RS4', 'Cybertruck',
       'BMW M3', 'Lucid Air', 'Subaru BRZ', 'Audi Q7', 'Infiniti G35X',
       'Toyota Prius'], dtype='<U17')

In [96]:
mpg = np.random.randint(5,50, size=(1,sample_size_t))
mpg = mpg[0]

In [103]:
secTo60 = np.random.randint(1,20, size=(1,sample_size_t))
secTo60 = secTo60[0]

In [106]:
df1 = pd.DataFrame({'Car Name':np.random.choice(cars, size=sample_size_t, replace=False), 'MPG':mpg})
df1

            Car Name  MPG
0            Madza 3   26
1         Cybertruck   28
2      Tesla Model 3   34
3             BMW M3   38
4      Mercedes S550   31
5       Honda Accord   49
6        Nissan 370Z   40
7        Mini Cooper   15
8            Audi Q7   39
9  Alfa Romeo Giulia   30

In [105]:
df2 = pd.DataFrame({'Car Name':selectedCars, '0 to 60':secTo60})
df2

            Car Name  0 to 60
0         Subaru WRX       12
1  Alfa Romeo Giulia       14
2           Audi RS4       12
3         Cybertruck       14
4             BMW M3        1
5          Lucid Air        9
6         Subaru BRZ        7
7            Audi Q7       10
8      Infiniti G35X       16
9       Toyota Prius       19