Ben Kahan  
DS 210  
Final Project  
13 December 2022

In [1]:
import pandas as pd
import numpy

In [2]:
data = pd.read_csv("data/data.csv")

In [3]:
data.head()

,Movie_Title,Year,Director,Actors,Rating,Runtime(Mins),Censor,Total_Gross,main_genre,side_genre
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,UA,Gross Unkown,Action,"Adventure, Drama"
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,UA,$534.86M,Action,"Crime, Drama"
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,U,$377.85M,Action,"Adventure, Drama"
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,UA,$292.58M,Action,"Adventure, Sci-Fi"
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,UA,$342.55M,Action,"Adventure, Drama"

In [4]:
data['main_genre'].describe()

count       5562
unique        13
top       Action
freq        1577
Name: main_genre, dtype: object

In [5]:
data['side_genre'].describe()

count                 5562
unique                 144
top        Drama,  Romance
freq                   324
Name: side_genre, dtype: object

In [16]:
data['Year'].describe()

count    5562.000000
mean     2002.792521
std        16.143990
min      1920.000000
25%      1997.000000
50%      2007.000000
75%      2014.000000
max      2022.000000
Name: Year, dtype: float64

In [18]:
data['Actors'][1]

'Christian Bale, Heath Ledger, Aaron Eckhart, Michael Caine'

In [19]:
data['Actors'].describe()

count                                                  5562
unique                                                 5511
top       William Shatner, Leonard Nimoy, DeForest Kelle...
freq                                                      6
Name: Actors, dtype: object